html,
body {
    height: 100%;
}

.ivu-row {
    display: flex;
}

.red {
    color: red;
}

.dashboard>.ivu-row>.ivu-col,
.widget>.ivu-row>.ivu-col,
.charts>.ivu-row>.ivu-col,
.panels>.ivu-row>.ivu-col {
    margin-top: 15px;
}

.form-tip {
    color: red;
    margin-left: 10px;
    font-size: 12px;
}